<ion-header>
  <ion-navbar>
    <ion-title>
      Spots
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content class="no-scroll card-background-page" >
  
  <ion-item [hidden]="item.title == 'Search'" (click)="goToMonuments(item)" class="itemSearch">
             
            <h2>Resultat recherche :  {{item.name}}</h2>
            <br>

  </ion-item>

  <ion-card *ngFor="let city of cities" [hidden]="type == 'Region'" (click)="goToMonuments(city)">    
    <img [src]="city.urlToImage"/>
    <div class="card-title">{{ city.name }}</div>
  </ion-card>

  <ion-card *ngFor="let region of regions" [hidden]="type == 'City'" (click)="goToMonuments(region)">    
    <img [src]="region.urlToImage"/>
    <div class="card-title">{{ region.name }}</div>
  </ion-card>

<!--  <button ion-button full (click)="searchCity()" [hidden]="type == 'City'">Chercher des monuments par ville</button>
  <button ion-button full (click)="switch()" [hidden]="type == 'Region'">Chercher des monuments par région</button>
-->
</ion-content>
