page-monuments {
    
    .no-scroll {
        .scroll-content:not(.show-scrollbar) {
            margin-right: -17px;
            overflow-y: scroll;
        }
    }
    
    .content{
        background-color: color($colors, secondary);   
    }
    
    .padding-top{
        padding-top : 30px;
    }




    .card-title {
        position: absolute;
        top: 85%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: rgb(219, 217, 226);
    }

    .col{
        padding: 1px;
    }
    .card{
        margin: 0px;
        width: 100%;
        position: relative;
    }
    .card-content{
        padding : 0px;
    }
    .imgBanner{
        height: 140px;
    }

    .item{
        background-color: color($colors, secondary);
    }

    .itemSearch{
        background-color: color($colors, secondary);
    }
    
}
