page-circuit-map {

    .no-scroll {
      .scroll-content:not(.show-scrollbar) {
          margin-right: -17px;
          overflow-y: scroll;
      }
    }
  
    .content{
      background-color: lightcyan;
    }
    
    #map{
      width: 100%;
      height: 70%;
    }


  }